body{
    background-image: url(./Images/10955.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    background-attachment: fixed;
    background-position: center;
     
}
header{
 display: flex;
 justify-content:center;   
}
.class-tittle{
font-family: 'Roboto', sans-serif;
font-size:100px;
text-shadow: 0px 20px 7px rgba(0, 0, 0, 0.61);
color:white;

}
.sombraBox3 {
    box-shadow: 0 1px 6px 0 rgba(255, 255, 255, 0.804);
}
.sombraBox1 {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.775);
}
.class-div-parrafo{
 padding:40px;
 height:300px;
 display: flex;
 justify-content:center;
 width:30%;   
 background-color: rgba(255, 255, 255, 0.462);
 border-radius: 10px;
 align-items:center;
}
.class-subTitle{
   text-align: center; 
}
.class-parrafo{
    text-align: center;
    color:black;
    font-size: 22px;
}
.ubicacion{
    margin-top: 30px;
    display: flex;
    justify-content:center;
    background-color:rgba(0, 0, 0, 0.563);
    border-radius: 10px;

}
.img_maps{
  margin-left: 20px;
  width:60px;  
  height:60px;
}
.class-btn{
font-family: 'Roboto', sans-serif;
background-color:rgba(212, 175, 55, 0.899); 
font-size:14px; 
border-radius:500px; 
border:solid 2px rgba(212, 175, 55, 0.629); 
}
.class-btn:hover{
    background-color:rgb(212, 175, 55);   
}
.pointer{
    cursor:pointer;
}
.btn-principal{  
    text-decoration:none;
    margin-bottom: 3px;
    font-family: 'Rubik Bubbles', cursive; 
    background-color:rgba(0, 0, 0, 0.849); 
    font-size:20px; 
    color: white;
    padding:15px;
    border-radius:20px; 
    border:solid 2px rgba(0, 0, 0, 0.755);

}
.btn-principal:hover{
    background-color:rgb(0, 0, 0); 

}
.body1{
    background-image: url(./Images/dark-abstract-texture.jpg);
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}
.class_container_inicio{
background-color:rgba(0, 0, 0, 0.326); 
border-radius:10px; 
width:40%; 
margin: auto;
}
.classH1{
font-family: 'Roboto', sans-serif; 
font-size: 70px; 
text-shadow: 0px 12px 7px #000000e9; 
color:white;
}
.footer{
    color: white;
    font-size:12px;
}
.class_tittle_principal{
display: flex; 
justify-content:center; 
margin-top:210px;
}
.h4Name{
    margin-top:-60px; 
    font-family: 'Rubik Bubbles', cursive; 
    color:#D4AF37; 
    text-shadow: 0px 8px 7px #000000a8;
    font-size: 36px;
}
.oclock{
font-family:'Roboto', sans-serif;  
color:	#D4AF37; 
font-size:50px; 
height:100px; 
font-weight:bold;
}
.div_oclock{
margin-top:-20px; 
display:flex; 
justify-content:center;
}
.h3_oclock{
font-size:22px; 
color:white; 
font-family: 'Roboto', sans-serif;
}
.direccionTxt{
color:white; 
align-items:center; 
font-size:18px; 
margin-top: 21px;
}
.class_i{
margin-left:12px ; 
margin-top:23px; 
font-size:18px; 
color:white; 
font-weight:bold"
}
@media only screen and (min-width:300px) and (max-width:450px){
    body{
        background-image: url(./Images/fondoTarjeta.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        object-fit: contain;
        background-attachment: fixed; 
    }
    .class_container_inicio{
        background-color:rgba(0, 0, 0, 0.326); 
        border-radius:10px; 
        width:85%; 
        margin: auto;
        }
    .classH1{
            font-family: 'Roboto', sans-serif; 
            font-size: 40px; 
            text-shadow: 0px 12px 7px #000000; 
            color:white;
            }   
    .class-div-parrafo{
                padding:25px;
                height:300px;
                display: flex;
                justify-content:center;
                width:85%;   
                background-color: rgba(173, 173, 173, 0.784);
                border-radius: 10px;
                align-items:center;
               }
    .class-parrafo{
                font-family: 'Rubik Bubbles', cursive;
                text-align: center;
                color:black; 
                font-size: 23px;
            }
    .h4Name{
                margin-top:-40px; 
                font-family: 'Rubik Bubbles', cursive; 
                color:#e7bd33; 
                text-shadow: 0px 8px 7px #000000a8; 
                font-size: 26px;
            }
    .oclock{
                font-family:'Roboto', sans-serif;  
                color:	#D4AF37; 
                font-size:30px; 
                height:100px; 
                font-weight:bold;
                }            
    .div_oclock{
                margin-top:-10px; 
                display:flex; 
                justify-content:center;
                    }   
    .h3_oclock{
                font-size:18px; 
                color:white; 
                margin-top: 28px;
                margin-bottom: 20px;
                font-family: 'Roboto', sans-serif;
                        }    
    .class_tittle_principal{
                display: flex; 
                justify-content:center; 
                margin-top:190px;
                            } 
    .class-btn{
                background-color:rgba(228, 185, 44, 0.899); 
                font-size:14px; 
                padding: 8px;
                border-radius:5px; 
                border:solid 2px rgba(227, 183, 38, 0.866); 
                                }
    .class-btn:hover{
                background-color:rgba(253, 205, 46, 0.526);   
                                }
    .img_maps{
                margin-top: 2px;
                width: 47px;
                height: 47px;
    }
    .direccionTxt{
        color:white; 
        align-items:center; 
        font-size:16px; 
        margin-top: 18px;
        }
    .class_i{
        margin-left:12px ; 
        margin-top:20px; 
        font-size:18px; 
        color:white; 
        font-weight:bold"
        }

}

@media only screen and (min-width:450px) and (max-width:750px){

    .class-parrafo{
        font-family: 'Rubik Bubbles', cursive;
        text-align: center;
        color:black; 
        font-size: 14px;
    }
.class-div-parrafo{
    padding:40px;
    height:300px;
    display: flex;
    justify-content:center;
    width:36%;   
    background-color: rgba(255, 255, 255, 0.462);
    border-radius: 10px;
    align-items:center;
   }



}